*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(animebckg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color:orange ;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 400px;
    
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 27px;
    font-size: xx-large;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: aqua;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    margin-top: 13px;
    color:aliceblue;
    border-right: none;
    font-size: 20px;
    float: left;
    padding: 13px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.btn{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;

}
.btn:hover{
    opacity: 0.8;
    color: antiquewhite;
}
.btn:active{
    opacity: 0.5;
}